@import url('fonts/stylesheet.css');
@import url('footer.css');
@import url('header.css');

* {
    box-sizing: border-box;
}

:root {
    --primary: #00053f;
    --secondary: #df173b;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}


.side-padding {
    padding-left: 50px;
    padding-right: 50px;
}

.content-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Welcome-section {
    background: var(--primary) url('/assets/welcome-bg.png') right center /cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}